@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

.header {
  background-image: url("header-bg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 10px;
  position: relative;
}

.text-container {
  margin-left: 11%;
  position: absolute;
  top: 28%;
}
.text-container-intro {
  font-size: 40px;
  margin: 25px 25px 0px 25px;
  font-weight: 300;
}

.text-container-name {
  margin: 0px 25px 15px 25px;
  font-size: 50px;
  color: #ec4c7a;
}

.text-container-paragraph {
  font-size: 16px;
  color: #666;
  padding: 5px;
  margin: 25px 0px 25px 25px;
}

.text-container-hire {
  display: inline-block;
  padding: 10px 40px;
  outline: none;
  background-color: #ec4c7a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 16px;
}

.header-feature {
  width: 40%;
  position: absolute;
  right: 10%;
  bottom: 90px;
}
